fastapi
uvicorn
sqlalchemy
python-multipart
python-jose
passlib
bcrypt<4.0.0
pydantic
pydantic-settings
python-dotenv
requests
plotly
python-dateutil
pytz
numpy
scipy
pandas
mne
pyEDFlib
reportlab
orjson
starlette
typing_extensions
cryptography
PyJWT
email-validator
edfio
itsdangerous
httptools
python-json-logger
pyinstaller
celery
